# Core functionality - changes here should be rare!
/src/app.py                   @gowthamp-04
/src/backend/database.py      @gowthamp-04
/src/backend/routers/auth.py  @gowthamp-04

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gowthamp-04
